# Python
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/**/__pycache__/
backend/**/*.pyc
backend/placement.db
backend/.env

# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# OS
.DS_Store
Thumbs.db
